<!DOCTYPE html>
<html>
  <body>
      <form  action="/public/" method="post">
          <label for="email">{{ email }}:</label><br>
          <input type="email" id="email" name="email"><br>
          <label for="message">{{ message }}:</label><br>
          <input type="text" id="message" name="message">
          <input type="submit" value="Submit">
      </form>
  </body>
</html>