<!DOCTYPE html>
<html>
  <body>
      <form  action="/auth/login" method="post">
          <label for="username">User:</label><br>
          <input type="text" id="username" name="username"><br>
          <label for="password">Pass:</label><br>
          <input type="password" id="password" name="password">
          <input type="submit" value="Login">
      </form>
  </body>
</html>