<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>401 Unauthorized</title>
</head>
<body align="center">
<div role="main" align="center">
    <h1>401: Unauthorized</h1>
    <p>The request requires user authentication.</p>
    <h2>Identify yourself!</h2>
    <div><a href="/auth/login">Login</a> </div>
    <hr />
</div>
<div role="contentinfo" align="center">
    <small>Rocket</small>
</div>
</body>
</html>